<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>adminForm</title>
	<title>Categoria</title>
  	<% include ../partes/head %>
</head>
<body>
	<section class="container margenSup">

		<h1 class="text-center">INGREDIENTES</h1>

		<p id="tamanoVista" style="display:none;"><%= plato_ingrediente.length%></p>

		<div class="row table-responsive margenSupPeq">
			<table class="table table-hover table-condensed">
				<thead>
				<tr>
					<th>REFERENCIA</th>
					<th>NOMBRE</th>
					<th>CANTIDAD</th>
					<th>TOTAL</th>
				</tr>
				</thead>
				<tbody>
					
					<% if(plato_ingrediente.length){ 
                        
         				for(var i = 0;i < plato_ingrediente.length;i++) { %>
         
					        <tr>
					            
					            <td><%=plato_ingrediente[i].referencia%></td>
					            <td><%=plato_ingrediente[i].nombre%></td>
					            <td><span id="spanA<%=i %>"><%=plato_ingrediente[i].cantidad%></span></td>
					            <td><strong><span id="spanB<%=i %>"></span></strong></td>
					        </tr>
    					<% }
    
				     }else{ %>
				         <tr>
				            <td colspan="5">No Data</td>
				         </tr>
				    <% } %>

				</tbody>
			</table>
		</div>

		<div class="row">
			<div class="col-md-3 col-md-offset-4">
				<input type="text" id="num" placeholder="Número de platos" class="form-control">
			</div>
		</div>

	</section>

	<!-- NO FUNCIONA CON EL JQUERY OCAL -->
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

	<script>
		$(document).ready(function(){
			//Recuperando tamaño del array de objetos y parseandolo
			var vista = $('#tamanoVista').html();
			var tamVista = parseInt(vista);

			//Creando un array que guardará las cantidades de los ngredientes.
			var arrayVistaCantidades = new Array(tamVista);

			//Guardando las cantidades de vista en el array
			for (var j = 0; j < tamVista; j++) {
				arrayVistaCantidades[j] = $('#spanA' + [j]).text();
			};

			$('#num').on('keyup', function(){

				//Input de entrada de numero de platos
				var numeroPlatos = $('#num').val();

				//Para ingresar en la etiqueta span con id spanB los datos en tiempo de ejecucion
				for (var i = 0; i < tamVista; i++) {

					var multiplicacion = parseInt(numeroPlatos) * arrayVistaCantidades[i];
					$('#spanB' + [i]).text(multiplicacion);

					//$('#spanB' + [i]).text(numeroPlatos);
				};
 			});
		});
	</script>
</body>
</html>